/*colors*/
@c-red: #c0301c;
@c-white: #ffffff;
@c-linear: #555555;
@c-border: #dddddd;
@c-back: #f8f8f8;
@c-gray: #8c8c8c;
@c-light-g: #777777;
@c-hover: #c9675d;
/*fonts*/
@f-mons: 'Montserrat', sans-serif;
@f-robot: 'Roboto Slab', serif;
/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,700&display=swap');
body {
  font-family: @f-mons !important;
  font-size: 14px;
}
/*section*/
.section-text {
  text-align: center;
  h3 {
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
    padding-top: 100px;
    &:before {
      position: absolute;
      content: '';
      bottom: -30px;
      left: 50%;
      transform: translate(-50%);
      width: 50px;
      height: 2px;
      background: @c-linear;
    }
  }
  p {
    padding-top: 60px;
    font-size: 16px;
    font-family: @f-robot;
  }
  .section-flex {
    display: flex;
    justify-content: center;
    button {
      font-size: 16px;
      font-family: @f-robot;
      border: none;
      background: none;
      padding: 0 12px;
    }
  }
}
/*bg-header*/
.bg-header {
  background: url('../img/bg-header.jpg');
  background-size: cover;
    .header {
      padding-top: 40px;
      .header-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-logo {
          a {
            font-size: 24px;
            font-weight: bold;
            color: @c-white;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .header-menu {
          nav {
            a {
              color: @c-white;
              margin-left: 35px;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      } 
    }
  .header-center {
    text-align: center;
    padding: 250px 0;
      .header-center-h1 {
        h1 {
          font-size: 48px;
          color: @c-white;
          padding-bottom: 25px;
          text-transform: uppercase;
        }
      }
    .header-center-text {
      p {
        font-size: 20px;
        color: @c-white;
        padding-bottom: 55px;
        font-family: @f-robot;
      }
    }
    .header-center-button {
      button {
        background: none;
        color: @c-white;
        border: 2px solid @c-white;
        font-size: 16px;
        text-transform: uppercase;
        padding: 15px 30px;
        border-radius: 3px;
      }
    }
  }
}
/*services*/
.services {
  .services-advantage {
    padding: 70px 0 100px;
    .services-item {
      text-align: center;
      .services-icon {
        margin: 0 auto;
        border: 1px solid @c-border;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        &:hover {
          background: @c-red;
          transition: all .3s ease;
          svg path {
            fill: @c-white;
          }
        }
      }
      .services-text {
        h3 {
          padding: 30px 0 25px;
          text-transform: uppercase;
          font-size: 14px;
        }
        p {
          font-family: @f-robot;
        }
      }
    }
  }
}
/*about-us*/
.about-us {
  background: @c-back;
  .about-us-text {
    padding: 70px 0;
    .about-us-text-p {
      font-family: @f-robot;
    }
  }
  .about-us-slider {
    position: relative;
    .multiple-items {
      padding-bottom: 100px;
      .multiple-items-worker {
        text-align: center;
        overflow: hidden;
        margin: 0 15px;
        .multiple-items-worker-img {
          img {
            z-index: -1;
            position: relative;
            width: 100%;
          }
          &:hover {
            background: rgba(85, 85, 85, 0.4);
            z-index: 10;
          }
          &:hover .multiple-items-worker-social {
            bottom: 125px;
            z-index: 10;
          }
          .multiple-items-worker-social {
            position: absolute;
            display: flex;
            justify-content: center;
            //bottom: -35px;
            bottom: 75px;
            z-index: -5;
            margin-left: 50px;
            transition: all .3s ease;
            .multiple-items-worker-item {
              padding: 3px;
              i {
                color: @c-white;
                font-size: 20px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                  background: @c-red;
                }
              }
            }
          }
        }
        .multiple-items-worker-text {
          padding-top: 20px;
          h4 {
            text-transform: uppercase;
            font-size: 14px;
          }
          p {
            font-family: @f-robot;
            font-size: 13px;
          }
        }
      }
    }
    .multiple-items-worker-button {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      #prev {
        position: absolute;
        left: 15px;
        width: 35px;
        height: 35px;
        background: @c-gray;
        color: @c-white;
        border-radius: 0;
        &:hover {
          background: @c-red;
        }
      }
      #next {
        position: absolute;
        right: 15px;
        width: 35px;
        height: 35px;
        background: @c-gray;
        color: @c-white;
        border-radius: 0;
        &:hover {
          background: @c-red;
        }
      }
    }
  }
}
/*latest works*/
.works {
  .section-flex {
    padding-top: 60px;
  }
  .section-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 55px 0 85px;
    overflow: hidden;
    .section-block-item {
      width: 30%;
      margin: 15px;
      position: relative;
      overflow: hidden;
      img {
        
      }
      &:after {
        background: red;
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        opacity: 0;
        
      }
      &:hover:after{
        background: rgb(192, 48, 28);
        z-index: 1;
      top: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.7;
      }
      &:hover .section-block-item-abs {
        bottom: 100px;
        z-index: 10;
      }
      .section-block-item-abs {
        position: absolute;
        content: '';
        bottom: -10px;
        left: 115px;
        transition: all .1s ease;
        z-index: -1;
        .section-block-item-abs-top {
          p {
            padding-top: 0;
            margin-bottom: 0;
            font-family: @f-mons;
            font-size: 18px;
            color: @c-white;
          }
        }
        .section-block-item-abs-center {
          p {
            padding-top: 0;
            font-size: 12px;
            color: @c-white;
          }
        }
        .section-block-item-abs-button {
          button {
            text-transform: uppercase;
            color: @c-red;
            border: none;
            background: @c-white;
            padding: 15px 20px;
            i {
              padding-left: 10px;
            }
          }
        }
      }
      img {
        width: 100%;
        display: block;
      }
    }
  }
}

/*bg-project*/
.bg-project {
  background: url('../img/bg-paralax.jpg');
  background-size: cover;
  .bg-project-center {
    text-align: center;
    padding: 100px 0;
    .bg-project-center-h2 {
      h2 {
        color: @c-white;
        font-size: 30px;
        font-family: @f-robot;
      }
    }
    .bg-project-center-button {
      padding-top: 50px;
      button {
        border: 2px solid @c-white;
        color: @c-white;
        border-radius: 2px;
        background: none;
        text-transform: uppercase;
        padding: 15px 25px;
      }
    }
  }
}
/*blog*/
.blog {
  .blog-main {
    padding: 55px 0 100px;
    .blog-main-blocks {
      margin-bottom: 40px;
    }
    .blog-main-img {
      img {
        display: block;
        width: 100%;
      }
    }
    .blog-main-info {
      .blog-main-info-inner {
        display: flex;
        align-items: center;
        .blog-main-info-inner-day {
          width: 75px;
          height: 75px;
          border: 2px solid @c-linear;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            text-transform: uppercase;
            font-size: 14px;
            margin: 0;
            font-weight: bold;
            color: @c-gray;
            span {
              font-size: 24px;
              display: block;
              text-align: center;
            }
          }
        }
        .blog-main-info-inner-right {
          padding-left: 25px;
          .blog-main-info-inner-h5 {
            h5 {
              text-transform: uppercase;
              font-size: 16px;
              padding-top: 20px;
              color: @c-linear;
            }
          }
          .blog-main-info-inner-author {
            p {
              font-style: italic;
              font-size: 13px;
              color: @c-light-g;
            }
          }
        }
      }
      .blog-main-info-text {
        padding: 25px 0 30px;
        p {
          line-height: 1.7;
          font-size: 14px;
          font-family: @f-robot;
        }
      }
      .blog-main-info-button {
        button {
          color: @c-light-g;
          border: none;
          background: none;
          text-transform: uppercase;
          font-family: @f-robot;
          font-size: 13px;
          &:hover  {
            color: @c-red;
          }
        }
        
      }
    }
  }
}
/*review*/
.review {
  background-color: @c-back;
  .review-main {
    padding: 95px 0;
    .brand {
      display: flex;
      justify-content: space-around;
      max-width: 920px;
      margin: 0 auto;
      align-items: center;
      flex-wrap: wrap;
    }
    .review-slider {
      padding-top: 60px;
      .single-item {
        .review-slider-main {
          text-align: center;
          margin-bottom: 25px;
          .review-slider-main-text {
            p {
              font-family: @f-robot;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
/*touch*/
.touch {
  .touch-main {
    padding: 50px 0 100px;
    .touch-main-left {
      .touch-main-contact {
        position: relative;
        .touch-main-contact-i {
          position: absolute;
          top: -5px;
        }
        .touch-main-contact-column {
          padding-left: 25px;
          padding-bottom: 40px;
          .touch-main-contact-h6 {
            h6 {
              text-transform: uppercase;
              font-size: 14px;
            }
          }
          .touch-main-text {
            p {
              font-size: 12px;
              margin-bottom: 10px;
              color: @c-gray;
            }
            a {
              text-decoration: none;
              color: @c-gray;
              font-size: 12px;
            }
          }
        }
      }
    }
    .touch-main-form {
      .touch-main-input {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        input {
          width: 45%;
          margin: 20px 15px 0;
          font-family: @f-robot;
          font-size: 12px;
          padding: 15px;
          text-transform: uppercase;
          border: 1px solid @c-linear;
          &:focus {
            border: 1px solid @c-red;
            outline: none;
          }
        }
      }
      .touch-main-textarea {
        display: flex;
        justify-content: center;
        textarea {
          display: block;
          margin: 20px;
          width: 100%;
          border: 1px solid @c-linear;
          padding: 15px;
          font-family: @f-robot;
          font-size: 12px;
          text-transform: uppercase;
          height: 100px;
          &:focus {
            border: 1px solid @c-red;
            outline: none;
          }
        }
      }
      .touch-main-button {
        position: relative;
        button {
          border: 1px solid @c-linear;
          background: none;
          text-transform: uppercase;
          font-size: 12px;
          padding: 15px 35px;
          margin-left: 20px;
          &:focus {
            border: 1px solid @c-red;
            outline: none;
          }
        }
        .touch-main-text {
          position: absolute;
          left: 220px;
          top: 15px;
          font-size: 12px;
          p {
            span {
              color: @c-red;
            }
          }
        }
      }
    }
  }
}
/*footer*/
.footer {
  background-color: @c-red;
  .footer-main {
    padding: 100px 0;
    text-align: center;
    .footer-main-social {
      display: flex;
      justify-content: center;
      position: relative;
      &:before {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%);
        width: 50px;
        height: 1px;
        content: '';
        background: @c-white;
      }
      .footer-main-social-item {
        width: 35px;
        height: 35px;
        border: 2px solid @c-white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 7px;
        i {
          color: @c-white;
        }
      }
    }
    .footer-main-copyright {
      padding-top: 60px;
      p {
        color: @c-white;
        text-transform: uppercase;
        font-size: 12px;
        font-family: @f-robot;
        margin-bottom: 0;
      }
    }
  }
}
/*adaptive*/
@media screen and (max-width: 1200px) {
  .touch-main {
    .row {
      display: flex;
      flex-wrap: wrap-reverse;
      .touch-main-left {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
      }
    }
    
  }
  .works {
    .section-block {
      .section-block-item {
        &:hover .section-block-item-abs {
          bottom: auto;
        }
        .section-block-item-abs {
          left: 50%;
          transform: translate(-50%, -50%);
          top: 50%;
        }
      }
    }
  } 
}
@media screen and (max-width: 991px) {
  /*bg-header*/
  .bg-header {
    .header {
      .header-main {
        .header-menu {
          display: none;
        }
      }
    }
    .header-center {
      padding: 150px 0;
    }
  }
  /*services*/
  .services {
    .services-advantage {
      padding: 50px 0 50px;
      .services-item {
        padding-bottom: 40px;
      }
    }
  }
  /*about-us*/
  .about-us {
    .about-us-text {
      padding: 50px 0;
    }
    .about-us-slider {
      .multiple-items {
        padding-bottom: 50px;
        .multiple-items-worker {
          width: 230px;
          margin: 0 auto;
        }
      }
    }
  }
  /*works*/
  
  /*blog*/ 
    .blog {
      .blog-main {
        padding: 50px 0;
      }
      .blog-main-info {
        padding: 50px 0;
      }
    }
    /*review*/
    
   /*touch*/
   .touch {
    .touch-main {
      padding: 50px 0 50px;
      .touch-main-form {
        .touch-main-input {
          input {
            width: 100%;
          }
        }
      }
      .touch-main-left {
        flex-wrap: wrap;
        .touch-main-contact {
          width: 50%;
        }
      }
    }
  }
   /*review*/
   .review {
    .brand {
      .brand-item {
        margin: 15px;
      }
    }
  }
  .works {
    
    .section-block {
      .section-block-item {
        width: 40%;
        
      }
    }
  }
}
@media screen and (max-width: 768px) {
 
  /*touch*/
  
}
@media screen and (max-width: 550px) {
  /*about-us*/
  .about-us {
    .about-us-text {
      padding: 50px 0;
    }
    .about-us-slider {
      .multiple-items {
        padding-bottom: 50px;
        .multiple-items-worker {
          width: 120px;
          margin: 0 auto;
        }
      }
      .multiple-items-worker-button {
        display: none;
      }
    }
  }
  /*works*/
  .works {
    .section-flex {
      flex-wrap: wrap;
      justify-content: space-evenly;
      button {
        margin-bottom: 10px;
      }
    }
    .section-block {
      .section-block-item {
        width: 80%;
        
      }
    }
  }
  /*touch*/
  .touch {
    .touch-main {
      padding: 0;
      .touch-main-form {
        .touch-main-button {
          .touch-main-text {
            left: 20px;
            top: 60px;
          }
        }
      }
      .touch-main-left {
        padding-top: 80px;
        .touch-main-contact {
          width: 100%;
        }
      }
    }
    
  }
}

